<a href="https://colab.research.google.com/github/Bluelord/DataCamp_Courses/blob/main/01%20Introduction%20to%20Python./02%20Python%20Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## **Python Lists**

Learn to store, access, and manipulate data in lists: the first step toward efficiently working with huge amounts of data.

**Create a list**

As opposed to int, bool etc., a list is a compound data type; you can group values together:

    a = "is"
    b = "nice"
    my_list = ["my", "list", a, b]
The areas of the different parts of your house are stored in separate variables for now, as shown in the script.

**Instructions**

Create a list, areas, that contains the area of the hallway (hall), kitchen (kit), living room (liv), bedroom (bed) and bathroom (bath), in this order. Use the predefined variables. |Print areas with the print() function.

In [1]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

**Create list with different types**

The con=mmded code in the editor haas some of the areas, the name of the corresponding is already placed in front. It has both string and int.

**Instructions**

Finished the code has a list so that the list first contains the name of each room as a string and then its area as float.

In [2]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
# areas = [hall, kit, "living room", liv, bed, "bathroom", bath]
areas = ["hallway", hall,"kitchen",  kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

**List of lists**

**Instructions**

Finish the list of lists so that it also contains the bedroom and bathroom data.
Print out house; Print out the type of house.

In [3]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
# house = [["hallway", hall],
#         ["kitchen", kit],
#         ["living room", liv]]

house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

**Subset and conquer**

Take the code sample below, created a list x and then selects "b". **Note: This is the second element (index starts from 0).

    x = ["a", "b", "c", "d"]
    x[1]
    x[-3] # same result!

**Instructions**

Print out the second element from the areas list. Subset and print out the last element of areas, Using a negative index. Select the number representing the area of the living room (20.0) and print it out.

In [4]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[4:6])

11.25
9.5
['living room', 20.0]

**Subset and calculate**

Take an example, where 2nd & 4th element of list x are extracted. The strings that result are pasted together using the + operator:

    x = ["a", "b", "c", "d"]
    print(x[1] + x[3])

    bd

**Instructions**

Create a new variable, eat_sleep_area, that contains the sum of the area of the kitchen and the area of the bedroom.

In [5]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

**Slicing and dicing**

Slice a list, means selecting multiple elements from a list. Use the following syntax:

    my_list[start:end] # The start index will be included, while the end index is not.

**Instructions*

Use slicing to create a list, downstairs, that contains the first 6 elements of areas. Create a new variable, upstairs, that contains the last 4 elements of areas. Print both downstairs and upstairs using print().

In [6]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[6:]

# Print out downstairs and upstairs
print(downstairs, upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0] ['bedroom', 10.75, 'bathroom', 9.5]

**Replace list elements**

Replacing involves subseting the list and assign new values to the subset. You can select single elements or you can change entire list slices.

    x = ["a", "b", "c", "d"]
    x[1] = "r"
    x[2:] = ["s", "t"]
    
    ['a', 'r', 's', 't']


**Instructions**

Update the area of the bathroom area to be 10.50 instead of 9.50. Change "living room" to "chill zone".

In [9]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[-1] = 10.5

# Change "living room" to "chill zone"
areas[4] = "chill zone"

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

**Extend a list**

Add elements to it, using the + operator:

    x = ["a", "b", "c", "d"]
    y = x + ["e", "f"]

    ["a", "b", "c", "d", "e", "f"]

We can also remove elements from your list. You can do this with the del statement:

    x = ["a", "b", "c", "d"]
    del(x[1])

    ["a", "c", "d"]

**Instructions**

Use the + operator to paste the list ["poolhouse", 24.5] to the end of the areas list. Store the resulting list as areas_1. Further extend areas_1 by adding data on your garage. Add the string "garage" and float 15.45. Name the resulting list areas_2.

In [14]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]

print(areas, '\n',areas_1,'\n', areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
 ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
 ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

**Inner workings of lists**

The Python code in the script already creates a list with the name areas and a copy named areas_copy. Next, the first element in the areas_copy list is changed and the areas list is printed out. If you hit Run Code you'll see that, although you've changed areas_copy, the change also takes effect in the areas list. That's because areas and areas_copy point to the same list.

If you want to prevent changes in areas_copy from also taking effect in areas, you'll have to do a more explicit copy of the areas list. You can do this with list() or by using [:].

In [16]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = areas

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas,'\n', areas_copy)

[5.0, 18.0, 20.0, 10.75, 9.5]
 [5.0, 18.0, 20.0, 10.75, 9.5]

In [15]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas,'\n', areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
 [5.0, 18.0, 20.0, 10.75, 9.5]